<div class="mail-footer">
    <div class="mail-social">
      <a href="https://www.facebook.com/" class="fb"></a>
      <a href="https://twitter.com" class="tw"></a>
      <a href="https://www.instagram.com/" class="ins"></a>
    </div>
    <!-- <div>
         <a href="https://staging.gigzoo.co.uk"><img class="logo_footer" src="https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/BeeProAgency/345781_324556/logo.png" alt="" /></a>
    </div> -->
    <!-- <div> <a class="ft-help" href="https://staging.gigzoo.co.uk/help">Help Center</a> | <a class="ft-help" href="https://staging.gigzoo.co.uk/terms-conditions">Privacy & Terms</a></div> -->
    <p class="ft-logo">
      © DaNangJob 2019
    </p> 
  </div>
</div>
</div>
</body>

</html>