
<body>
    <div class="container">
        <div class="mail-content">
        <div class="mail-header">
              
            </div>
            <div class="mail-ctn">
                
                <p>Happy gigging!</p>
            </div>