
<body>
    <div class="container">
        <div class="mail-content">
      
            <div class="mail-ctn">
                <h3>Chào mừng bạn đã đến với website tìm kiếm việc làm tại Đà Nẵng</h3>
                <p>Website sẽ giúp bạn tìm được những ứng viên hoặc việc làm phù hợp nhất với bạn.</p>
              
                <p>Happy gigging!</p>
            </div>
